/* Scroll bar */
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.navtag {
  background-color: #0e849c;
}
.logoname {
  color: aliceblue !important;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.btn .badge {
  background: none !important;
  top: 0 !important;
}
